*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root{
	--font: 'Itim', cursive;
}
html{
	font-size: 10px;
}
body{
	width: 100%;
	height: 100vh;
	background-color: #96b07b;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#start{
	width: 15rem;
	height: 6rem;
	background-color: white;
	border-radius: 5rem;
	box-shadow: 2px 2px 2px #000000;
	font-size: 3rem;
	font-family: var(--font);
	display: flex;
	justify-content: center;
	align-items: center;
}

#gameProperties{
	display: none;
	flex-direction: column;
	align-items: center;
	width: 50rem;
	height: 50rem;
	border: 2px solid #85aa00;
	border-radius: 2.5rem;
	background-color:#779954;
	padding: 7rem;
}

.header{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	font-family: var(--font);
	font-size: 3.5rem;
	margin-bottom: 2rem;
	color: #ffffff;
	text-shadow: 4px 4px 8px #000000;
	
}
.times{
	width: 100%;
	height: 12rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}
.times button{
	width: 10rem;
	height: 4rem;
	font-size: 2rem;
	border-radius: 1rem;
	background-color: #5f2f17;
	color: white;
}

.times button:nth-child(3){
	background-color: white;
	color:black;
}

.playerText{
	width: 100%;
	height: auto;
	margin: 1rem 0 3rem 0;
	display: flex;
	justify-content: space-between;
	font-size: 2rem;
	color:white;
	text-shadow: 2px 2px 5px black;
	letter-spacing: 0.22rem;
	font-family: var(--font);
}
.playerText input{
	width: 15rem;
	height: 3rem;
	margin-top: 0.5rem;
	border-radius: 0.5rem;
	border: none;
	padding: 0 1rem;
	font-family: var(--font);
}

.playerText input::placeholder{
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 1.5rem;
}
#username-1-required,
#username-2-required{
	display: none;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.16rem;
	text-shadow: none;
	letter-spacing: normal;
	margin-top: 0.3rem;
}

button[onclick="gameProperties()"]{
	width: 13rem;
	height: 5rem;
	background-color: white;
	border-radius: 5rem;
	box-shadow: 2px 2px 2px #000000;
	font-size: 2.5rem;
	font-family: var(--font);
	display: flex;
	justify-content: center;
	align-items: center;
	
}


.table{
	display: none;
	width: 64rem;
	height: 64rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.yesil{
	width: 8rem;
	height: 8rem;
	background-color: #779954;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4.8rem;
}
.beyaz{
	width: 8rem;
	height: 8rem;
	background-color: #E9EDCC;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4.8rem;
}
.table-1 div,
.table-2 div,
.table-3 div,
.table-4 div,
.table-5 div,
.table-6 div,
.table-7 div,
.table-8 div{
	float: left;
}
.blackPawn,
.blackRook,
.blackKnight,
.blackBishop,
.blackQueen,
.blackKing{
	color:#000000;
}
.whitePawn,
.whiteRook,
.whiteKnight,
.whiteBishop,
.whiteQueen,
.whiteKing{
	color:#b4b4b4;
}

#whiteUpdatePawn,
#blackUpdatePawn{
	position: absolute;
	display: none;
}
#whiteUpdatePawn div,
#blackUpdatePawn div{
	width: 8rem;
	height: 8rem;
	font-size: 4.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid grey;
	background-color: rgb(245, 230, 202);
}
#whiteUpdatePawn div:nth-child(1),
#blackUpdatePawn div:nth-child(1){
	border-radius: 1rem 0 0 1rem;
}

#whiteUpdatePawn div:nth-last-child(1),
#blackUpdatePawn div:nth-last-child(1){
	border-radius: 0 1rem 1rem 0;
}

#player-2{
	width: 64rem;
	height: 4rem;
	margin: 1rem 0 1rem 0;
	background-color: aqua;
	display: none;
	position: relative;
}
#player-2-ID{
	width: 15rem;
	height: 100%;
	background-color: #d6a232;
	float: left;
	font-size: 2rem;
	font-family: var(--font);
	display: flex;
	justify-content: center;
	align-items: center;
}
.player-2-pieces{
	width: 5rem;
	height: 100%;
	background-color: #85aa00;
	float: left;
}
#player-2-time{
	width: 10rem;
	height: 100%;
	background-color: #b4b4b4;
	position: absolute;
	right: 0;
	font-size: 3rem;
	font-family: var(--font);
	display: flex;
	justify-content: center;
	align-items: center;
}
#player-1{
	width: 64rem;
	height: 4rem;
	margin: 1rem 0 1rem 0;
	background-color: aqua;
	display: none;
	position: relative;
}
#player-1-ID{
	width: 15rem;
	height: 100%;
	background-color: #d6a232;
	float: left;
	font-size: 2rem;
	font-family: var(--font);
	display: flex;
	justify-content: center;
	align-items: center;
}
.player-1-pieces{
	width: 5rem;
	height: 100%;
	background-color: #85aa00;
	float: left;
}
#player-1-time{
	width: 10rem;
	height: 100%;
	background-color: #b4b4b4;
	position: absolute;
	right: 0;
	font-size: 3rem;
	font-family: var(--font);
	display: flex;
	justify-content: center;
	align-items: center;
}